.place__title {
    grid-area: title;
    font-size: 72px;
    font-weight: 900;
    max-width: 460px;
    line-height: 76px;
    letter-spacing: 0em;
    margin: 0;
}

@media screen and ( max-width:1279px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and ( max-width:1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and ( max-width:767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}