.page {
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    background-color: #2A2c2f;
    color: white;
    font-family: Inter, Arial, sans-serif;
}

.header {
    max-width: 1184px;
    max-height: 52px;
    padding: 28px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 52px;
    width: 176px;
    padding: 0;
}

.header__lang-link {
    height: 28px;
    width: 30px;
    margin: 0 48px 0 0;
    color: white;
}

.header__lang-link:last-child {
    margin: 0;
}

.lead {
    max-height: 1005px;
    max-width: 984px;
    margin: 56px 148px 0 148px;
}

.lead__title {
    height: 200px;
    width: 720px;
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
}

.lead__subtitle {
    height: 72px;
    width: 640px;
    text-align: center;
    margin: auto;
    padding: 32px 0 64px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
}

.lead__image {
    height: 615px;
    width: 984px;
}

.lead__caption {
    height: 14px;
    width: 158px;
    margin: 8px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
}

.intro {
    height: 429px;
    width: 690px;
    margin: 114px 0 92px 148px;
}

.intro__title {
    height: 58px;
    width: 690px;
    margin: 0 0 40px 0;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__text {
    height: 208px;
    width: 690px;
    margin: 0 0 33px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.intro__lists {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.intro__list {
    font-weight: bold;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    width: 1184px;
    height: 671px;
    margin: auto;
}

.photo-grid__item {
    height: 213px;
    width: 284px;
}

.places {
    max-height: 3392px;
    max-width: 984px;
    margin: auto;
}

.place {
    display: grid;
    grid-template-columns: minmax(0, 460px), 1fr;
    row-gap: 40px;
    column-gap: 48px;
    grid-template-areas: "title website" "image paragraph";
    margin-top: 92px;
}

.place__title {
    grid-area: title;
    font-size: 72px;
    font-weight: 900;
    max-width: 460px;
    line-height: 76px;
    letter-spacing: 0em;
    margin: 0;
}

.place__image {
    grid-area: image;
    max-height: 460px;
    max-width: 460px;
}

.place__website {
    grid-area: website;
    max-height: 46px;
    align-self: flex-end;
}

.place__url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 0 12px 0;
    color: #AAAAAA;
}

.place__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
    transition: opacity 0.4s;
}

.place__link:hover {
    opacity: 0.4;
}

.place__paragraphs {
    grid-area: paragraph;
}

.place__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 26px 0;
}


/*
.cover {
    margin: 92px 48px 92px 48px;
    position: relative;
}

.cover__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover__link {
    transition: opacity 0.4s;
}

.cover__link:hover {
    opacity: 0.4;
}

.cover__image {
    position: absolute;
    max-width: 1184px;
    max-height: 740px;
    z-index: -1;
    opacity: 0.7;
}

.cover__title {
    margin: 245px 0 32px 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 560px;
    max-height: 152px;
    z-index: 2;
    align-self: center;
}

.cover__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 360px;
    max-height: 66px;
}
*/

.footer {
    margin: 92px 48px 24px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.footer__link {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-decoration: none;
    transition: opacity 0.4s;
}

.footer__link:hover {
    opacity: 0.4;
}

.footer__copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}